// Importing the abstracts folder
@use '../abstracts/index' as *;

// Setting Column
.#{$prefix}row {
    display: flex;
    flex-wrap: wrap;

    * {
        flex-shrink: 0;
        width: 100%;
    }

    .#{$prefix}col {
        flex: 1 0 0;
    }

    @each $col-name ,
    $col-value in $col-details {
        .#{$prefix}col-#{$col-name} {
            width: $col-value;
            flex: 0 0 auto;
        }
    }

    // Loop $grid-breakpoints to create responsive columns in different breakpoints
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
        @media screen and (min-width: $breakpoint-value) {
            @each $col-name, $col-value in $col-details {
                .#{$prefix}col-#{$col-name}\:#{$breakpoint-name} {
                    width: $col-value;
                    flex: 0 0 auto;
                }
            }
        }
    }

    // Offsets to margin left
    @each $offset-name, $offset-value in $col-details {
        .#{$prefix}offset-#{$offset-name} {
            margin-left: $offset-value;
        }
    }

    // To create responsive offsets
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
        @media screen and (min-width: $breakpoint-value) {
            @each $offset-name,
            $offset-value in $col-details {
                .#{$prefix}offset-#{$offset-name}\:#{$breakpoint-name} {
                    margin-left: $offset-value;
                }
            }
        }
    }
}