//////////////////////////
///// Variable Setup /////
//////////////////////////

// Add Prefix //
$prefix: "";

// Colors System
$blue:      #fff !default;
$colors: (

);

// Font Family // 
$font-family : "Poppins", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Paddings //
$container-defalut-padding-x: 12px;

// Components Widths //
$container-width: 1300px;

// Breakpoints map //
$grid-breakpoints: (
    sm:     576px,
    md:     768px,
    lg:     1000px,
    xl:     1200px,
    xxl:    1400px
);

// Indexes map //
$zindex: (
    dropdown:   1000,
    sticky:     1020,
    fixed:      1040,
    offcanvas:  1050,
    modal:      1060,
    popover:    1080,
    tooltip:    1100,
    toast:      1120,
);

// Columns map //
$col-details:(
    1: 8.33333333%,
    2: 16.66666666%,
    3: 25%,
    4: 33.33333333%,
    5: 41.66666666%,
    6: 50%,
    7: 58.33333333%,
    8: 66.66666666%,
    9: 75%,
    10: 83.33333333%,
    11: 91.66666666%,
    12: 100%
);

// Offsets map//
$offset:(
    1: 8.33333333%,
    2: 16.66666666%,
    3: 25%,
    4: 33.33333333%,
    5: 41.66666666%,
    6: 50%,
    7: 58.33333333%,
    8: 66.66666666%,
    9: 75%,
    10: 83.33333333%,
    11: 91.66666666%,
    12: 100%
);

// Spacing Map //
$spacing: (
    0: 0,
    0.5:    0.25rem,
    1:      0.5rem,
    1.5:    0.75rem,
    2:      1rem,
    2.5:    1.25rem,
    3:      1.5rem,
    3.5:    1.75rem,
    4:      2rem,
    4.5:    2.25rem,
    5:      2.5rem,
    5.5:    2.75rem,
    6:      3rem,
    6.5:    3.25rem,
    7:      3.5rem,
    7.5:    3.75rem,
    8:      4rem,
    8.5:    4.25rem,
    9:      4.5rem,
    9.5:    4.75rem,
    10:     5rem,
    10.5:   5.25rem,
    11:     5.5rem,
    11.5:   5.75rem,
    12:     6rem,
    auto:   auto,
);